@import '../../../src/scss/mixins';
@import '../../../src/scss/variables';

.passcode {
  background-color: white;
  border: 1px solid $border;
  border-radius: 4px;
  cursor: pointer;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;

  .material-icons {
    position: absolute;
    right: 16px;
    top: 14px;
  }
}
