@import '../../../scss/mixins';
@import '../../../scss/variables';

.datePicker {
  padding: 1rem;

  &__navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__month {
      @include bold;
      color: $default-text;
      font-size: 16px;
      letter-spacing: 0.9px;
    }
  }

  &__calendar {
    margin: 1rem 0;

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;

      thead {
        th {
          @include bold;
          color: $default-text;
          font-size: 14px;
          line-height: 1.21;
          opacity: 0.65;
        }
      }

      tbody {
        td {
          color: $default-text;
          cursor: pointer;
          font-size: 12px;
          padding: 0.5rem 0;
          text-align: center;
        }
      }
    }

    &--selected {
      color: #ffffff !important;
      position: relative;

      &::before {
        background-color: $blue;
        border-radius: 100px;
        content: '';
        height: 30px;
        left: calc(50% - 15px);
        position: absolute;
        top: calc(50% - 15px);
        width: 30px;
        z-index: -1;
      }
    }
  }
}
