.challenge-words {
  display: flex;
  flex-wrap: wrap;

  &-word {
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-family: monospace;
    padding: 4px;
    margin: 8px 4px;
    flex: 26%;
    text-align: center;
    text-transform: uppercase;
  }
}
