@import '../../../scss/variables';
@import '../../../scss/mixins';

.nav {
  background-color: $blue-006;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5.5rem;
    justify-content: space-between;
  }

  &__spacer {
    flex: 1;
  }

  &__title {
    @include lato;
    @include bold;
    line-height: 1.33;
    letter-spacing: 0.2px;
    margin: 0;
  }

  &__link {
    @include bold;
    margin: 0;
    text-decoration: none;

    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav {
    &__link {
      font-size: 14px;

      &:not(:first-of-type) {
        margin-left: 1rem;
      }
    }
  }
}
