{
  "env": {
    "production": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "root-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "root-gar-local": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "root-gar-local-zero": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "root-gar-local-one": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "root-gar-local-two": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lead-root-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "external-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lead-external-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "internal-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lead-internal-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "qar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lead-qar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lead-lar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "person": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "win": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    }
  }
}
