{
  "env": {
    "production": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "external-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "lead-external-gar": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "m",
            "pragmaFrag": "'['"
          }
        ]
      ]
    }
  }
}
