@import '~/src/scss/mixins';
@import '~/src/scss/variables';

.footer {
  border: 1px solid $border;
  padding: 1rem;
  text-align: right;

  &-build {
    @include semi-bold;
    color: $primary;
    font-size: 12px;
    letter-spacing: 0.2px;
  }
}
