@import '../../../scss/variables';

.toasts {
  bottom: 64px;
  left: 50%;
  min-width: 280px;
  position: fixed;
  transform: translateX(-50%);
  z-index: 100;
}

.toast {
  align-items: center;
  background-color: white;
  border-left: 12px solid $gray;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  min-height: 48px;
  padding-left: 16px;
  width: 100%;

  &--success {
    border-left-color: $green;
  }

  &--error {
    border-left-color: $red;
  }

  &--warning {
    border-left-color: $yellow;
  }

  &--info {
    border-left-color: $blue;
  }
}
