@import '../../../scss/mixins';
@import '../../../scss/variables';

.popover {
  @include sans;
  animation: scaleIn 0.4s;
  background-color: white;
  border: 1px solid $border;
  border-radius: 4px;
  box-shadow: 0 4px 21px 3px rgba(0, 0, 0, 0.11);
  color: $default-text;
  cursor: default;
  position: absolute;
  width: auto;
  z-index: 10;

  &__content {
    position: relative;
  }

  &__overlay {
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
