/* MIXINS
---------------------------------------- */
// App-specific Typography
@mixin sans {
  font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

@mixin lato {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

@mixin light {
  font-weight: 300;
}
@mixin normal {
  font-weight: 400;
}
@mixin medium {
  font-weight: 500;
}
@mixin bold {
  font-weight: 700;
}

// non-standardized styling of placeholder text
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// "Responsive" background images
// Takes in path to the image, and the image extension separately
@mixin responsive-background($path, $ext) {
  $at1x_path: '#{$path}.#{$ext}';
  $at2x_path: '#{$path}@2x.#{$ext}';
  $at3x_path: '#{$path}@3x.#{$ext}';

  background-image: url('#{$at1x_path}');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    background-image: url('#{$at2x_path}');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    background-image: url('#{$at3x_path}');
  }
}

@mixin transition($property: all, $duration: 0.2s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

@mixin no-transition {
  transition: none;
}

@mixin columns($column-count: 3, $column-gap: 20px) {
  column-count: $column-count;
  column-count: $column-count;
  column-gap: $column-gap;
  column-gap: $column-gap;
}

@mixin no-shadow {
  box-shadow: 0 0 0 transparent;
}

// Clearing
@mixin clear {
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

@mixin clearfix {
  &::before,
  &::after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    zoom: 1;
  }

  &::after {
    clear: both;
  }
}

// Restore default ul styling
@mixin disc {
  list-style: disc outside;
  margin-left: 20px;
}
