/* VARIABLES
---------------------------------------- */

// colors

// NOTE: Search project-wide to see where colors are used before deleting them.
$gray-dker: #212529;
$gray-dk: #495057;
$gray: #adb5bd;
$gray-lt: #dee2e6;
$gray-lter: #f1f3f5;

$default-text: #373f41;
$light-text: #6c7476;
$border: $gray;

$red: #c92a2a;
$blue: #3c64b1;
$blue-006: rgba($blue, 0.06);
$green: #2b8a3e;
$yellow: #fcc419;
