@import '../../../scss/mixins';
@import '../../../scss/variables';

.progress {
  background-color: $gray;
  border-radius: 10px;
  height: 16px;
  position: relative;
  margin: 2rem 0 4rem;
  user-select: none;
  width: 100%;

  &-fill {
    background-color: $primary;
    border-radius: 10px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
  }

  &-circle {
    background-color: $primary;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 24px;
    width: 24px;
    position: absolute;
    top: -4px;
    left: 0;

    &--end {
      background-color: $gray;
      left: calc(100% - 12px);

      .progress-circle-text {
        color: $charcoal-grey;
      }
    }

    &-text {
      color: white;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
  }

  &-label {
    color: $battleship-grey;
    font-size: 12px;
    position: absolute;
    top: 32px;
    left: calc(20% - 32px);
  }
}
