@import '../../../scss/variables';
@import '../../../scss/mixins';

.nav-rail {
  background-color: #fefdff;
  display: flex;
  flex-direction: column;

  &-item {
    align-items: center;
    border-radius: 4px;
    color: $cyprus;
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    // width: 96px;
    width: 120px;

    &-text {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.25px;
      margin-top: 0.5rem;
    }

    &:hover {
      background-color: $primary-active;
      cursor: pointer;
    }

    &--selected {
      background-color: $primary-active;
    }
  }
}
