.aidField {
  border: 1px solid rgba(black, 0.38);
  border-radius: 4px;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding-left: 1rem;
  padding-right: 3rem;
  position: relative;
  width: 100%;

  &:hover {
    border-color: rgba(black, 0.87);
  }

  &__search {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
  }
}
