@import '../../../scss/mixins';
@import '../../../scss/variables';

.dashboard {
  background-color: $background-blue;
  display: flex;
  min-height: calc(100vh - 138px);
}

.close-icon {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
}
