@import '../../../scss/variables';
@import '../../../scss/mixins';

.nav {
  background-color: white;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5.5rem;
    justify-content: space-between;
  }

  &__spacer {
    flex: 1;
  }

  &__logo {
    &__link {
      align-items: center;
      display: flex;
      text-decoration: none;

      img {
        margin-right: 1.5rem;
      }

      h1 {
        @include bold;
        color: $primary;
        font-size: 24px;
      }
    }
  }

  &__link {
    @include bold;
    margin: 0;
    text-decoration: none;

    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }

  &__profile-image {
    cursor: pointer;
    margin-right: 2rem;
  }

  &__label {
    @include bold;
    cursor: pointer;
    color: $primary;
    margin-right: 2rem;
  }

  .notification-badge {
    background: $primary;
    border-radius: 50%;
    padding: 0 8px;
    position: absolute;
    left: 4px;
    top: 4px;

    p {
      @include bold;
      color: $primary;
      font-size: 10px;
      line-height: 20px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav {
    &__link {
      font-size: 14px;

      &:not(:first-of-type) {
        margin-left: 1rem;
      }
    }
  }
}
