@import '../../../scss/mixins';
@import '../../../scss/variables';

.tutorial {
  align-items: center;
  display: flex;
  justify-content: space-around;

  &__info {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    max-width: 22rem;
    min-width: 18rem;
  }

  &__image {
    &__container {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      max-height: 440px;
      max-width: 540px;
    }
  }
}

@media screen and (max-width: 768px) {
  .tutorial {
    flex-direction: column;

    &__info {
      margin-right: 0;
      margin-bottom: 5rem;
    }
  }
}
