/* DEFAULTS (imported into app.js)
---------------------------------------- */
@import 'mixins';
@import 'variables';
@import 'material';

body {
  margin: 0;
  min-width: 320px;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// images can't be wider than their containers

img,
video,
iframe {
  max-width: 100%;
}

// tables inherit font size (some browsers set a default table font size)

table {
  font-size: inherit;
}

// set cursor to pointer for specific elements

a {
  cursor: pointer;
  outline: none;
}

// Container

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  width: 100%;
}

.noti-badge{
  position: absolute;
  width: 14px;
  height: 14px;
  top: 9px;
  right: 40px;
  // padding: 5px 10px;
  border-radius: 50%;
  background: #d7e5ff;
  // color: white;
  p{
    font-size: 75%;
    color: #737b7d;
    font-weight: bold;
    margin: 1px 0 0px 3px;
    
  }
}