/* DEFAULTS (imported into app.js)
---------------------------------------- */
@import 'mixins';
@import 'variables';
@import 'material';

body {
  margin: 0;
  min-width: 320px;
  letter-spacing: 0.15px;
  line-height: 1.5;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// images can't be wider than their containers

img,
video,
iframe {
  max-width: 100%;
}

// tables inherit font size (some browsers set a default table font size)

table {
  font-size: inherit;
}

// set cursor to pointer for specific elements

a {
  cursor: pointer;
  outline: none;
}

// Container

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  width: 100%;
}

.row {
  background-color: #ffffff;
}

.row:nth-child(odd) {
  background-color: #eeeeee;
}

.notification {
  background-color: #000;
  border-bottom: 1px solid #000;
}
