/* GLOBALS (imported into app.js, right after defaults and typography)
---------------------------------------- */
@import 'mixins';
@import 'variables';

* {
  @include scrollbar;
}
a,
a:visited,
a:link {
  color: $primary;
  transition: color 0.4s ease;

  &:active,
  &:hover {
    color: darken($primary, 10%);
  }
}

.pointer {
  cursor: pointer;
}

.p-tag {
  color: $battleship-grey;
  font-size: 14px;
  // letter-spacing: 0.15px;

  &-bold {
    font-weight: 700;
    color: $battleship-grey;
  }

  &-italic {
    font-weight: 400;
    font-style: italic;
    color: $battleship-grey;
  }
}

.task {
  &-img {
    display: block;
    margin: 2rem 0;
    width: 192px;

    &--small {
      width: 96px;
    }

    &--center {
      margin: 2rem auto;
    }
  }

  &-form {
    &-group {
      margin-bottom: 1rem;

      &--between {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .task-form-label {
          margin-bottom: 0;
        }
      }
    }

    &-radio-group {
      align-items: center;
      display: flex;

      .task-form-label {
        margin-bottom: 0;
      }
    }

    &-label {
      @include semi-bold;
      color: $charcoal-grey;
      display: block;
      font-size: 14px;
      margin-bottom: 0.5rem;
    }

    &-checkbox-container {
      align-items: center;
      display: flex;
      margin-left: -0.75rem;

      .task-form-label {
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    &-more {
      align-items: center;
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      margin-bottom: 1rem;

      &-label {
        @include bold;
        color: $charcoal-grey;
        cursor: pointer;
        display: block;
      }
    }
  }

  &-info {
    align-items: center;
    color: $info-blue;
    display: flex;
    margin: 2rem 0;

    &-icon {
      margin-right: 1rem;
    }

    &-text {
      font-size: 14px;
    }
  }

  &-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
}

.styled-ol {
  list-style-type: none;

  li {
    counter-increment: li;
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    position: relative;

    &::marker {
      content: '';
      display: none;
    }

    &::before {
      @include semi-bold;
      background-color: $primary-active;
      border-radius: 50%;
      content: counter(li);
      font-size: 16px;
      height: 36px;
      left: -64px;
      line-height: 36px;
      position: absolute;
      text-align: center;
      top: 0px;
      width: 36px;
    }
  }
}

.radioButtons {
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

.divider {
  border: none;
  border-bottom: 1px solid $border;
  margin: 1rem 0;
}

.label {
  color: $light-text;
  display: block;
  margin-bottom: 1rem;
}

.bold-label {
  @include medium;
  color: black;
}

.clear-margin {
  margin: 0;
}

.card {
  &--fluid {
    width: 100%;
  }
  &--hover {
    &:hover {
      background-color: $primary-active;
      cursor: pointer;
    }
  }
  &--active {
    background-color: $primary-active;
  }
}

.uneditable-value {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  color: $battleship-grey;
  font-size: 14px;
  font-weight: 500;
  min-height: 48px;
  padding: 1rem;
}

// To get a consistent space at the top of each page, which requires adding this class to a div,
// h1, or other element on every page, but which allows the flexibity to have a fixed nav

.headspace {
  margin-top: 5rem;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.flex {
  display: flex;

  &-align-center {
    align-items: center;
  }

  &-align-end {
    align-items: flex-end;
  }

  &-justify-between {
    justify-content: space-between;
  }

  &-justify-evenly {
    justify-content: space-evenly;
  }

  &-justify-around {
    justify-content: space-around;
  }
  &-justify-start {
    justify-content: flex-start;
  }
  &-justify-end {
    justify-content: flex-end;
  }
  &-justify-center {
    justify-content: center;
  }

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &-1 {
    flex: 1;
  }

  &-2 {
    flex: 2;
  }

  &-3 {
    flex: 3;
  }

  &-4 {
    flex: 4;
  }

  &-5 {
    flex: 5;
  }

  &-6 {
    flex: 6;
  }

  &-7 {
    flex: 7;
  }

  &-8 {
    flex: 8;
  }

  &-9 {
    flex: 9;
  }

  &-10 {
    flex: 10;
  }

  &-11 {
    flex: 11;
  }

  &-12 {
    flex: 12;
  }
}

.margin {
  &-clear {
    margin: 0;
  }
  &-v {
    &-1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-3 {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &-4 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  &-h {
    &-1 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-2 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &-3 {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    &-4 {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
  &-top {
    &-1 {
      margin-top: 1rem;
    }
    &-2 {
      margin-top: 2rem;
    }
    &-3 {
      margin-top: 3rem;
    }
    &-4 {
      margin-top: 4rem;
    }
  }
  &-left {
    &-1 {
      margin-left: 1rem;
    }
    &-2 {
      margin-left: 2rem;
    }
    &-3 {
      margin-left: 3rem;
    }
    &-4 {
      margin-left: 4rem;
    }
  }
  &-bottom {
    &-1 {
      margin-bottom: 1rem;
    }
    &-2 {
      margin-bottom: 2rem;
    }
    &-3 {
      margin-bottom: 3rem;
    }
    &-4 {
      margin-bottom: 4rem;
    }
  }
  &-right {
    &-1 {
      margin-right: 1rem;
    }
    &-2 {
      margin-right: 2rem;
    }
    &-3 {
      margin-right: 3rem;
    }
    &-4 {
      margin-right: 4rem;
    }
  }
}
