// Theme
@use '@material/theme/index' with (
  $primary: $blue,
  $on-primary: #ffffff
);

@use '@material/typography/index' as typography with (
  $font-family: unquote('AvenirNext, Helvetica, Arial, sans-serif')
);

// Button
@use '@material/button/styles' as buttonStyles;
@use '@material/button/index' as button;

// Card
@use '@material/card/index' as card;

// Checkbox
@use '@material/checkbox/mixins' as checkbox;

// CircularProgress
@use '@material/circular-progress/mdc-circular-progress';

// Chip
@use '@material/chips/styles' as chipStyles;

// Form Field
@use "@material/form-field/mixins" as formField;

// IconButton
@use '@material/icon-button/styles' as iconButtonStyles;
@use '@material/icon-button/mixins' as iconButton;

// Select
@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/styles';

// TextField
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield/mixins' as textfield;

@use '@material/tooltip/styles' as tooltipStyles;

@include card.core-styles;
@include checkbox.core-styles;
@include formField.core-styles;
@include iconButton.core-styles;
@include textfield.core-styles;

.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons.md-40,
.material-icons-outlined.md-40 {
  font-size: 40px;
}
.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px;
}
.material-icons.md-blue,
.material-icons-outlined.md-blue {
  color: $blue;
}

.button {
  &--gray {
    @include button.ink-color($default-text);
    @include button.icon-color($default-text);
    @include button.container-fill-color($gray-lter);
    @include button.outline-color($gray-lter);
  }
  &--gray-dk {
    @include button.ink-color(white);
    @include button.icon-color($default-text);
    @include button.container-fill-color($gray-dk);
    @include button.outline-color($gray-dk);
  }
  &--big {
    @include button.height(3rem);
    @include button.horizontal-padding(3rem);
  }

  &--extra-padding {
    @include button.horizontal-padding(4rem);
  }
  &--no-transform {
    .mdc-button__label {
      text-transform: none;
    }
  }
}
