/* MIXINS
---------------------------------------- */
// App-specific Typography
@mixin sans {
  font-family: 'AvenirNext', Helvetica, Arial, sans-serif;
}

@mixin lato {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

@mixin light {
  font-weight: 300;
}
@mixin normal {
  font-weight: 400;
}
@mixin medium {
  font-weight: 500;
}
@mixin bold {
  font-weight: 700;
}

// non-standardized styling of placeholder text
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 2px;
  }
}

// "Responsive" background images
// Takes in path to the image, and the image extension separately
@mixin responsive-background($path, $ext) {
  $at1x_path: '#{$path}.#{$ext}';
  $at2x_path: '#{$path}@2x.#{$ext}';
  $at3x_path: '#{$path}@3x.#{$ext}';

  background-image: url('#{$at1x_path}');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    background-image: url('#{$at2x_path}');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    background-image: url('#{$at3x_path}');
  }
}
