/* TYPOGRAPHY (imported into app.js)
---------------------------------------- */
@import 'mixins';
@import 'variables';

// General typographic rules
html,
body {
  @include sans;
  @include normal;
  color: $default-text;
  font-size: 100%; // 16px in most browsers.
}

h1 {
  @include bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;

  &.lg {
    @include bold;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
  }
}

h4 {
  @include bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.error {
  @include bold;
  color: $red;
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.hint {
  margin-top: 0.5rem;
}

.font {
  &-weight {
    &--light {
      @include light;
    }
    &--normal {
      @include normal;
    }
    &--medium {
      @include medium;
    }
    &--bold {
      @include bold;
    }
  }
  &-color {
    &--light {
      color: $light-text;
    }
    &--green {
      color: $green;
    }
    &--battleship {
      color: $battleship-grey;
    }
    &--blue {
      color: $blue;
    }
  }
  &-size {
    &--16 {
      font-size: 16px;
    }

    &--20 {
      font-size: 20px;
    }

    &--24 {
      font-size: 24px;
    }

    &--32 {
      font-size: 32px;
    }

    &--48 {
      font-size: 48px;
    }

    &--56 {
      font-size: 56px;
    }
  }
}

.text {
  // Alignments
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  // Transformations
  &--capitalize {
    text-transform: capitalize;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

// Icon fonts
$font-path: '../assets/fonts';

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf') format('truetype');
}
