/* TYPOGRAPHY (imported into app.js)
---------------------------------------- */
@import 'mixins';
@import 'variables';

// General typographic rules
html,
body {
  @include sans;
  @include normal;
  color: $default-text;
  font-size: 14px; // 16px in most browsers.
}

h1 {
  @include bold;
  font-size: 32px;
  letter-spacing: 0.1px;

  &.lg {
    @include bold;
    font-size: 44px;
    letter-spacing: 0.2px;
  }
}

h3 {
  @include bold;
  font-size: 18px;
}

h4 {
  @include bold;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.error {
  @include normal;
  color: $red;
  font-size: 12px;
  margin: 0.5rem 0 0;
}

.hint {
  margin-top: 0.5rem;
}

.mono-aid {
  @include mono;
  font-size: 12px;
  word-break: break-all;
}

.body-text-2 {
  @include normal;
  font-size: 12px;
}

.font {
  &-weight {
    &--light {
      @include light;
    }
    &--normal {
      @include normal;
    }
    &--medium {
      @include medium;
    }
    &--semi-bold {
      @include semi-bold;
    }
    &--bold {
      @include bold;
    }
  }
  &-color {
    &--light {
      color: $light-text;
    }
    &--green {
      color: $green;
    }
    &--battleship {
      color: $battleship-grey;
    }
    &--blue {
      color: $blue;
    }
    &--info {
      color: $info-blue;
    }
  }
  &-size {
    &--12 {
      font-size: 12px;
    }

    &--14 {
      font-size: 14px;
    }

    &--16 {
      font-size: 16px;
    }

    &--20 {
      font-size: 20px;
    }

    &--24 {
      font-size: 24px;
    }

    &--32 {
      font-size: 32px;
    }

    &--48 {
      font-size: 48px;
    }

    &--56 {
      font-size: 56px;
    }
  }
}

.text {
  // Alignments
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  // Transformations
  &--capitalize {
    text-transform: capitalize;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  // Decorations
  &--underline {
    text-decoration: underline;
  }
}

// Icon fonts
$font-path: '../assets/fonts';

@font-face {
  font-family: 'Facundo';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/facundo/FacundoRegular.otf') format('truetype');
}

@font-face {
  font-family: 'Facundo';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/facundo/FacundoRegular.otf') format('truetype');
}

@font-face {
  font-family: 'Facundo';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/facundo/FacundoSemiBold.otf') format('truetype');
}

@font-face {
  font-family: 'Facundo';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/facundo/FacundoBold.otf') format('truetype');
}

@font-face {
  font-family: 'Facundo';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/facundo/FacundoBlack.otf') format('truetype');
}

@font-face {
  font-family: 'Facundo';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/facundo/FacundoBlack.otf') format('truetype');
}
