/* VARIABLES
---------------------------------------- */

// colors

// NOTE: Search project-wide to see where colors are used before deleting them.
$french-blue: #3c64b1;
$battleship-grey: #737b7d;
$charcoal-grey: #373f41;
$light-blue-grey: #dee8f5;
$duck-egg-blue: #f3f5fd;
$black-4: rgba(0, 0, 0, 0.04);
$black: #000;

$gray-dker: $charcoal-grey;
$gray-dk: $battleship-grey;
$gray: #c4c4c4;
$gray-lt: #dee2e6;
$gray-lter: #f4f5f4;

$default-text: rgba(0, 0, 0, 0.87);
$light-text: $gray-dk;
$border: #e2e5e6;

$red: #c62828;
$blue: $french-blue;
$green: #4d979b;
$yellow: #fcc419;

$background: #fefdff;

$primary: $french-blue;
$on-primary: white;
$primary-006: rgba($primary, 0.06);
$primary-active: #f1f8ff;

$secondary: $battleship-grey;
$on-secondary: white;

$info-blue: #4ea2f8;
