@import '../../../scss/mixins';
@import '../../../scss/variables';

.steps {
  align-items: center;
  display: flex;
  flex-direction: row;

  .step {
    background-color: $gray;
    border-radius: 100%;
    height: 12px;
    margin: 1rem;
    width: 12px;
    transition: background-color 0.4s ease;

    &--selected {
      background-color: $blue;
    }
  }
}
