name: Build

on:
  push:
    branches:
      - '*'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.8

      - name: pyinstaller dependencies
      - run: |
          cd ward
          pip install -r requriements.txt
          pyinstaller ward.spec --onefile --clean --noconfirm
