name: Build

on:
  push:
    branches:
      - '*'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        build: [root-gar, external-gar, internal-gar]
    steps:
      - name: Set up Python 3.10.4
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.4

      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '17.7.1'
          cache: 'yarn'

      - name: build
        run: |
          yarn package:${{ matrix.build }}

#      - uses: actions/upload-artifact@v3
#        if: github.ref == 'refs/heads/main'
#        with:
#          name: keep-${{matrix.lead}}-${{ matrix.build}}-${{matrix.os}}
#          path: app/out/keep*